.billing {
	margin-bottom: 40px;
}
.billing__title {
	margin-bottom: 40px;
}
.billing__options {
	display: flex;
	& > * + * {
		margin-left: 80px;
	}
	margin-bottom: 45px;
}

.billing__card {
	margin-bottom: 40px;
	margin-left: -30px;
}

.billing__confirm {
	color: #8c8c8c;
	display: grid;
	row-gap: 15px;
}

.billing__link {
	color: black;

	&:hover {
		text-decoration: underline;
	}
}
