.main {
	overflow-x: hidden;
	height: 100%;
}
.main__inner {
	height: 100%;
	@include media('>=tablet') {
		display: grid;
		grid-template-columns: 1fr 410px;
	}
}

.main__basket {
	border-left: 1px solid $secondary;
}
