.checkbox {
	display: flex;
	gap: 10px;
	cursor: pointer;
}
.checkbox__box {
	position: relative;
	width: 18px;
	height: 18px;
	border: 1px solid $secondary;
}

.checkbox__input:checked + .checkbox__box {
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		content: '';
		width: 8px;
		height: 8px;
		background-color: $primary;
		transform: translate(-50%, -50%);
	}
}

.checkbox__input:focus + .checkbox__box {
	box-shadow: 0 0 0 1px $primary, 0 0 0 1px $secondary;
}

.checkbox__input:checked:disabled + .checkbox__box {
	opacity: 0.8;
	pointer-events: none;
}
