<button id="menu-button" class="burger" aria-expanded="false" aria-controls="menu">
		<span aria-hidden="true" class="burger__line burger__line--top"></span>
		<span aria-hidden="true" class="burger__line burger__line--middle"></span>
		<span aria-hidden="true" class="burger__line burger__line--bottom"></span>
		<span class="sr-only">Open Menu</span>
</button>
