.promo {
	position: relative;

	&::before,
	&::after {
		position: absolute;
		content: '';
		left: 0;
		right: -50vw;
		height: 1px;
		background-color: $secondary;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}
}

.promo__title {
	margin-bottom: 30px;
}

.promo__controls {
	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 10px;
}
