{% from "../base/button/button.njk" import button %}
<div class="order-inner order-controls">
		{{button({children:"Back", className: "button--secondary"})}}
		{{button({children:"Check Out"})}}
</div>
