/* Transitions */
$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

/* Fonts */
$normal: 400;
$medium: 500;
$bold: 700;

/* Colors */
$primary: #3366ff;
$secondary: #cfcfcf;
