.page {
	display: grid;
	grid-template-rows: auto 1fr;
}
.wrapper {
	position: relative;
}

.container {
	max-width: 1640px;
	min-width: 768px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.order-inner {
	max-width: 790px;
	width: 100%;
	padding-right: 80px;
	padding-left: 80px;
	margin-left: auto;
	margin-right: auto;
}
