.button {
	@extend .transition-active;
	display: inline-flex;
	min-height: 40px;
	align-items: center;
	justify-content: center;
	font-weight: $normal;
	cursor: pointer;
	font-size: 14px;
	border-radius: 3px;
	border: 2px solid var(--border-color, #{$primary});
	background-color: var(--background, #{$primary});
	color: var(--color, white);
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 8px;
	padding-bottom: 8px;

	&:hover {
		--background: #{rgba($primary, 0.8)};
		--border-color: var(--background);
		--color: black;
	}

	&:active {
		--background: #{rgba($primary, 0.3)};
		--border-color: var(--background);
		--color: black;
	}
}

.button--secondary {
	--border-color: #{$secondary};
	--background: white;
	--color: black;

	&:hover {
		--background: #{rgba($secondary, 0.8)};
		--border-color: var(--background);
	}

	&:active {
		--background: #{rgba($secondary, 0.3)};
		--border-color: var(--background);
	}
}
